fast-api_app/local_setup.sh 
fast-api_app/local_run.sh 
fast-api_app/.venv


day3_4/local_setup.sh
day3_4/local_run.sh
day3_4/.env

assignments/fastapi/local_setup.sh 
assignments/fastapi/local_run.sh 
assignments/fastapi/debug.log

online_classes/api_llm_response/local_run.sh 
online_classes/api_llm_response/local_setup.sh 
online_classes/api_llm_response/.env 
online_classes/api_llm_response/.venv/
online_classes/api_llm_response/__pycache__/

online_classes/resume_app/local_run.sh 
online_classes/resume_app/local_setup.sh
online_classes/resume_app/.venv
online_classes/resume_app/__pycache__/

online_classes/reccomendationApp/local_run.sh 
online_classes/reccomendationApp/local_setup.sh
online_classes/reccomendationApp/.venv
online_classes/reccomendationApp/.env
online_classes/reccomendationApp/__pycache__/

online_classes/productRecommenderApp/local_run.sh 
online_classes/productRecommenderApp/local_setup.sh
online_classes/productRecommenderApp/.venv
online_classes/productRecommenderApp/.env
online_classes/productRecommenderApp/__pycache__/


online_classes/googleAdk/local_run.sh 
online_classes/googleAdk/local_setup.sh
online_classes/googleAdk/.venv
online_classes/googleAdk/.env
online_classes/googleAdk/__pycache__/
online_classes/googleAdk/my_agent/__pycache__/